<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStringSQLite"
			 connectionString="Data Source=C:\Users\Quetzal\source\repos\ECG\POO\DataStore\BazaDeDateHealthMonitor.s3db;Version=3;"
			 providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>
